<ion-content>
  <app-header></app-header>
  <ion-item>

    <!-- Mostrar el nombre solo si contiene un valor -->
    <ng-container *ngIf="nombre; else noNombre">
      <ion-text>
        Nombre guardado: {{ nombre }}
      </ion-text>
    </ng-container>

    <!-- Contenido alternativo si no hay un nombre -->
    <ng-template #noNombre>
      <ion-text>
        No se ha guardado ningún nombre.
      </ion-text>
    </ng-template>
  </ion-item>

  <p>
    contacto works!
  </p>
  <app-footer></app-footer>
</ion-content>
